<ion-view view-title="The Slow Food App">
  <ion-content class="padding">

    <img ng-src="img/map2.jpg" style="width: 350px; height: 280px">

    <h2>What do you feel like eating for dinner tonight?</h2>
    <p>Pizza, vegan, sushi - the choices are endless, but we will help you find the flavour of tonight, today or tomorrow...
    </a>
    </p>
    <p>
      </code>
    </p>
    <p>

    </p>
    <p>
    </a>
    </p>
    <img ng-src="img/star.png" style="width: 20px; height: 20px">
    <img ng-src="img/star.png" style="width: 40px; height: 40px">
    <img ng-src="img/star.png" style="width: 60px; height: 60px">
    <img ng-src="img/star.png" style="width: 80px; height: 80px">
    <img ng-src="img/star.png" style="width: 100px; height: 100px">
  </ion-content>
</ion-view>
